.myGraph {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	
}

.myPalette {
	width: 180px;
	margin-right: 2px;
	border-radius: 10px;
	background: #e8f0ff;
	border: solid 1px black;
	overflow: hidden;
	margin-left: 10px;
	margin-right: 5px;
}

.myDiagram {
	flex-grow: 1;
	height: 620px;
	border-radius: 10px;
	background: #e8f0ff;
	border: solid 1px black;
	margin-left: 5px;
	margin-right: 10px;
}

.uploadImageField {
	display: none;
}

/* width */
::-webkit-scrollbar {
	width: 7px;
}
  
/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #BBBBBB; 
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #AAAAAA; 
}